@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Monument';
    src: url('/assets/PPMonumentExtended-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/assets/PlayfairDisplay-Black.ttf') format('truetype');
}


@keyframes fadeout {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }

  .fade-out {
    animation: fadeout 1s forwards;
  }

  .fade-in {
    animation: fadein 1.5s forwards;
  }

  .hero-op {
    opacity: 0.4;
  }

  .hero-default {
    opacity: 0;
  }
